{%- if include.theme == 'dark' -%}
  <header class="header header--dark" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- elsif include.theme == 'light' -%}
  <header class="header header--light" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- else -%}
  <header class="header" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- endif -%}
    <div class="main">

      <!-- logo brand -->
      <div class="header__title">
        <div class="header__brand">
          <!-- 20220605
          {%- include svg/logo.svg -%}
          {%- assign _paths_root = site.paths.root | default: site.data.variables.default.paths.root  -%}
          {%- include snippets/get-nav-url.html path=_paths_root -%}
          {%- if site.title -%}
            <a title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ __return }}">{{ site.title }}</a>
          {%- endif -%}
          20220605 -->
          
          <!-- 20220605 -->
          {%- if site.data.navigation.headerbrand.titles -%}
            {% include snippets/get-string-from-locale-config.html locale=site.data.navigation.headerbrand.titles %}
            {% assign _site_title = __return %}
          {%- else -%}
            {% assign _site_title = site.title %}
          {%- endif -%}

          {%- if site.data.navigation.headerbrand.url -%}
            {% include snippets/get-nav-url.html path=site.data.navigation.headerbrand.url %}
            {% assign _site_root = __return %}
          {%- else -%}
            {%- assign _paths_root = site.paths.root | default: site.data.variables.default.paths.root  -%}
            {%- include snippets/get-nav-url.html path=_paths_root -%}
            {% assign _site_root = __return %}
          {%- endif -%}
          
           <!-- 20220605
          {%- include svg/logo.svg -%}
          20220605 -->

          {%- include snippets/prepend-baseurl.html path="assets/images/logo.svg" -%}
          {%- assign _logo_path = __return -%}
          <img src="{{_logo_path}}">
          <a title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ _site_root }}"> {{ _site_title }} </a>
          <!-- 20220605 -->

        </div>
        <!-- 20220605
        {%- if site.search.provider -%}
          <button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button>
        {%- endif -%}
        -->
      </div>

      <!-- navigation -->
      {%- if site.data.navigation.header -%}
      <nav class="navigation">
        <ul>
          {%- for _item in site.data.navigation.header -%}
            {%- include snippets/get-nav-url.html path=_item.url -%}
            {%- assign _nav_url = __return -%}
            {%- include snippets/get-nav-url.html path=page.url -%}
            {%- assign _page_url = __return -%}
            {%- include snippets/get-string-from-locale-config.html locale=_item.titles -%}
            {%- if _nav_url == _page_url or page.nav_key and _item.key and page.nav_key == _item.key -%}
              <li class="navigation__item navigation__item--active"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
            {%- else -%}
              <li class="navigation__item"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
            {%- endif -%}
          {%- endfor -%}
          <!-- 20220605
          {%- if site.search.provider -%}
            <li><button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button></li>
          {%- endif -%}
          20220605 -->
        </ul>
      </nav>
      {%- endif -%}

      <!-- 20220605 -->
      {%- if site.search.provider or site.data.navigation.headerlang -%}
      <nav class="navigation">
        <ul>
          <!-- search -->
          {%- if site.search.provider -%}
            <li></li>
            <li><button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button></li>
          {%- endif -%}

          <!-- language -->
          {%- if site.data.navigation.headerlang -%}
            {%- for _item in site.data.navigation.headerlang -%}
              {%- include snippets/get-lang.html -%}
              {%- assign _xxxxlang = __return -%}
              {%- if _xxxxlang != _item.lang -%}
                {%- include snippets/get-nav-url.html path=_item.url -%}
                {%- assign _nav_url = __return -%}
                {%- include snippets/get-nav-url.html path=page.url -%}
                {%- assign _page_url = __return -%}
                {%- include snippets/get-string-from-locale-config.html locale=_item.titles -%}
                {%- if _nav_url == _page_url or page.nav_key and _item.key and page.nav_key == _item.key -%}
                  <li class="navigation__item navigation__item--active"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
                {%- else -%}
                  <li class="navigation__item"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        </ul>
      </nav>
      {%- endif -%}
      <!-- 20220605 -->

    </div>
  </header>
